In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

In [8]:
# 한글 표기위 한 글꼴 변경(window, macOS 처리)
from matplotlib import font_manager, rc
import platform
if platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname = path).get_name()
    rc('font', family = font_name)
elif platform.system() == 'Darwin':
    rc('font', family = 'AppleGothic')
else:
    print('Check your OS system')

In [9]:
df = pd.read_excel('crawling/savedata/superchat.xlsx')
df.head()

   순위        채널명              태그       슈퍼챗수입  슈퍼챗개수
0   1    가로세로연구소  #가로세로연구소, #가세연  ₩5,216,893    199
1   2     Erzhan     #바카라, #이기는법  ₩2,856,113    161
2   3     열린공감TV   #열린공감, #열린민주당  ₩1,941,968    140
3   4  김소연힐링음악여행   #김소연노래교실, #음방  ₩1,226,890     84
4   5        유재일     #유재일, #정치평론  ₩1,224,952     71

In [10]:
df.tail()

      순위                   채널명            태그    슈퍼챗수입  슈퍼챗개수
295  296            깨비양 [깨비tv]  #넷마블, #모바일게임  ₩91,233     13
296  297                오레오사냥꾼     #육남매, #일상  ₩91,170     16
297  298               가수김수련TV   #화산, #사랑참쉽다  ₩91,110      5
298  299              장경동 티비교회  #장경동, #장경동목사  ₩91,070      7
299  300  빙구가든 Bing goo garden   #웰시코기, #강아지  ₩91,023      4